registry=https://pkgs.dev.azure.com/pw30348/swapi-cachng/_packaging/main-feed/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/pw30348/swapi-cachng/_packaging/main-feed/npm/registry/:username=pw30348
//pkgs.dev.azure.com/pw30348/swapi-cachng/_packaging/main-feed/npm/registry/:_password=cTZydmI2ZnU2aGFkeXlia296d3JqcTc1cmY1ZXZ2Z2oycXdsYmZ4Y2N2YXFwcXNzam9icQ==
//pkgs.dev.azure.com/pw30348/swapi-cachng/_packaging/main-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/pw30348/swapi-cachng/_packaging/main-feed/npm/:username=pw30348
//pkgs.dev.azure.com/pw30348/swapi-cachng/_packaging/main-feed/npm/:_password=cTZydmI2ZnU2aGFkeXlia296d3JqcTc1cmY1ZXZ2Z2oycXdsYmZ4Y2N2YXFwcXNzam9icQ==
//pkgs.dev.azure.com/pw30348/swapi-cachng/_packaging/main-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token